<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Core functionality tests">
            <directory suffix=".php">./tests/testsuites/Core</directory>
        </testsuite>
        <testsuite name="Rendering tests">
            <directory suffix=".php">./tests/testsuites/Renderers</directory>
        </testsuite>
    </testsuites>
</phpunit>
